<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:21:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.crmLogoImageTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">crmLogoImageTest</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/28 20:21:22</td>   <td>18341</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:20:55</td>   <td>-8451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">loginPageTitleTest</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:21:12</td>   <td>8604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:3, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">loginTest</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/28 20:20:47</td>   <td>-17075</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:20:47</td>   <td>-16924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:20:56</td>   <td>-7565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:21:05</td>   <td>975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:20:55</td>   <td>-8399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:21:04</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/03/28 20:21:21</td>   <td>17520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6f1fba17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
</table>
