<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.crmLogoImageTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">crmLogoImageTest</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/08/27 19:51:48</td>   <td>20785</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:16</td>   <td>-10835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">loginPageTitleTest</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:37</td>   <td>9796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:3, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">loginTest</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/08/27 19:51:04</td>   <td>-22957</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setExtent()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:04</td>   <td>-22831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:17</td>   <td>-9899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:28</td>   <td>892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:16</td>   <td>-10763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:27</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/08/27 19:51:47</td>   <td>19996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@210366b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
</table>
